.Deck {
  width: 800px;
  margin: 0 auto;
}

.deck__title {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.decks {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}

.deck-form {
  margin: 2rem 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 50%;
}

.deck-title-input {
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.deck-title-input:focus~.cut,
.deck-title-input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.deck-title-input:focus~.placeholder,
.deck-title-input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(1);
}

.deck-title-input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.deck-title-input:focus~.placeholder {
  color: rgb(24, 24, 24);
  font-weight: bold;
}